
.text{
    font-size: 10vw;
    color: #11ff11;
    display: flex;
}

#window{
    top:0;bottom:0;right:0;left:0;
    background-color: black;
    position: fixed;
}

#container{
    position: fixed;
    top:0;bottom:0;right:0;left:0;
    background: black;
display: flex;
flex-direction: column;
align-items: center;
justify-content:center;
}

button {
    width: 10vw;
    height: 5vw;
    font-size: 2vw;
    font-style: oblique;
    color: green;
    background: black;
    border-radius: 1vw;
    margin: 1.5vw;
}
